<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />


<h1>Our Amazing Catalog</h1>

<div id="catalog-container">

</div>

















@section Styles {
    <link href="/css/Catalog.css" rel="stylesheet">
}


@section Scripts {
    <script src="/js/Catalog.js"></script>
}